name: Deploy Infrastructure

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: obscurelyme/glass@v0.0.2
        with:
          command: cfn validate --infra infrastructure/template.yaml
